
@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../../fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #d9ecfa;
    color: #111;
    font-family: "Inter", Arial, sans-serif;
    overflow-x: hidden;
}

main {
    padding: 72px var(--page-padding);
}

main section {
    min-height: 260px;
    padding: 48px 0;
}

h1,
h2 {
    margin-bottom: 16px;
    font-family: "Noto Sans", sans-serif;
}

p {
    max-width: 50rem;
    line-height: 1.6;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}


/* =====================================================
   VARIABLES
===================================================== */

:root {
    --blue: #d9ecfa;
    --red: #e00000;
    --dark-blue: #008ee8;
    --black: #111111;
    --white: #ffffff;

    --page-padding: 42px;
}

